@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>

<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    
    <br />
    <button class="btn btn-success">Meslek Ekle</button>
</form>